#search-bar {
  border-radius: 25px;
  padding: 15px;
  width: 500px;
  height: 40px;
}
#search-bar:focus {
  border-radius: 25px;
  padding: 15px;
  width: 200px;
  height: 10px;
}
.form__radio__group {
  height: 50px;
  width: 150px;
  display: inline-block;
}
.politicalLean__input {
  display: flex;
  justify-content: center;
}
label {
  font-size: 1.2rem;
  height: 100%;
  font-weight: 700;
  margin-left: 2rem;
  display: block;
  transition: all 0.3s;
}
#left {
  left: 15px;
}
#right {
  left: -15px;
}
#titile {
  left: 15px;
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-3rem);
}

.form__radio__input {
  display: none;
}
.form__radio__label {
  font-size: 20px;
  cursor: pointer;
  position: relative;
  padding-left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 30px; */
}
.form__radio-button {
  height: 25px;
  width: 25px;
  border: 3px solid black;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
}
.form__radio-button::after {
  content: '';
  display: block;
  height: 1.3rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 0, 204);
  opacity: 0;
  transition: opacity 0.2s;
}

.form__radio__input:checked ~ .form__radio__label .form__radio-button:after {
  opacity: 1;
}
.input-icons i {
  position: absolute;
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
}

.icon {
  padding: 10px;
  min-width: 40px;
}
